.idea
.env
jwt.private.key
jwt.key.pub
package-lock.json
yarn.lock
swagger-spec.json

# compiled output
/dist
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Default Image
/static/images/game/thumbnail/*
/static/images/user/avatar/*
!/static/images/game/thumbnail/bc9801de-182b-45a9-8b03-8112f65cd6ee.webp
!/static/images/user/avatar/6ecd936f-6d9b-4d4e-b147-db198e6b8b2c.webp